@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.head{
    margin-left: 60% !important;
}

.brand{
    color: #E54024 !important;
    font-size: 30px !important;
    font-weight: bold;
    font-family: 'Poppins' !important;
}
.subbrand{
    color: #1E1E1E !important;
    font-family: 'Poppins', sans-serif !important;
}

.menue-item{
    font-family: 'Poppins' !important;
    margin-left: 10px;
    font-weight: bold;
    transition: .5s;
    font-size: 18px;
}
.menue-item:hover{
    font-family: 'Poppins' !important;
    margin-left: 10px;
    color: #E54024 !important;
    font-size: 18px;
}
.hbutton{
    color: white;
    background-color: #E54024;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
}